header {
    background: #13505B;
    color: white;
    font-family: 'Merriweather', serif;
    padding: 2rem;
    text-align: center;
    font-size: larger;
}
main {
    background: #D7D9CE;
    color: black;
    font-family: 'Roboto', sans-serif;
    padding: 1rem;
    text-align: center;
    display: grid;
    grid-template-columns: auto;
    column-gap: 5px;
     
}
h3{
    background-color: #3A0842;
    color: white;
    padding: 1rem;
    margin: auto;
}
h4{
    padding: 1rem;
    font-size: large;
}
.link {
    padding: auto;
    margin: 1rem;
}
#design1 {
    border-style: solid;
    border-radius: 5px;
}
#design2{
    border-style: solid;
    border-radius: 5px;
}
#design3{
    border-style: solid;
    border-radius: 5px;
}
footer {
    background: #13505B;
    color: white;
    font-family: 'Merriweather', serif;
    padding: 1rem;
    text-align: center; 
}


