body {
  display: grid;
  width: 90%;
  margin: auto;
  font-family: 'Mulish', sans-serif;
}
.banner{
  background-color: #07BEB8;
  display: flex;
  padding: 1rem;
  align-items: center;
}
.banner-content{
  padding: 16px;
  max-width: 1000px;
  margin: auto;
}
.banner_close {
  background: none;
  border: none;
  cursor: pointer;
  width: 40px;
}
header {
  padding: 1rem;
  text-align: center;
  font-size: larger;
  display: flex;
  flex-direction: column;
  
}
#mode {
  /*position: absolute;*/
  margin: auto;
  padding-bottom: 4px;
  position: relative;
  left: 150px;
}
.switch {
  position: relative;
  right: 2rem;
  display: inline-block;
  width: 60px;
  height: 34px;
}
  
  /* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
  
  /* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
  
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
  
input:checked + .slider {
  background-color: #2196F3;
}
  
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
  
 /* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
  
.slider.round:before {
  border-radius: 50%;
}
.sun-icon {
  display: none;
}

.moon-icon {
  display: none;
}

/* Show sun icon when in light mode */
.light-mode .sun-icon {
  display: inline-block;
}

/* Show moon icon when in dark mode */
.dark-mode .moon-icon {
  display: inline-block;
}
#head {
    flex: 50%;
    
}
#title {
    flex: 50%;
}
header button:hover{
  background-color: #FB3640;
  color: white;
}
#join:hover{
  background-color: #FB3640;
  color: white;
}
#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #1B264F;
	color: white;
  height: 30px;
  width: auto;
}

#menu::before {
	content: "☰";
}

#menu.show::before {
	content: "❎";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #274690;
	color: #fff;
}
.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation a:hover {
	background-color: #1B264F;
	color: #FB3640;
	font-weight: 700;
}
.open a {
	display: block;
}
.active::before {
	content: "🦈";  
}
main {
  display: grid;
  grid-template-columns: auto;
  column-gap: 20px;
}

.dark-mode {
  background-color: #121212;
  color: white;
}
main img {
  max-width: 100%;
  height:auto;
  background: black;
  animation: fade 2s;
}
.hero {
  margin: 10px auto;
	position: relative;
  height: auto;
  width: 100%;
}
.hero img {
	width: 100%;
	height: auto;
	object-fit: cover;
  background: black;
  animation: fade 2s;
}
main section {
  /*margin: auto;*/
  padding: 1px;
  
}
#weather {
  position: relative;
}
/*.weather-container {
  position: relative; /* Set position to relative to contain absolute positioning
}*/
#weatherinfo {
  /*position: absolute; /* Position the weather info absolutely */
  /*top: 50px; /* Place the weather info at the top of its containing block */
  /*left: 120px; /* Place the weather info at the left of its containing block */
  /*background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background for better readability */
  padding: 5px; /* Add some padding for better spacing */
  /*color: black;*/
  align-items: center;
  margin: auto;
  display: flex;
  flex-direction: column;
}
#threedays {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
h4 {
  grid-column: 1/4;
  margin: auto;
  background-color: #07BEB8;
  padding: 5px;
}
#threedays section {
  margin: auto;
  align-items: center;
}
#threedays section figure{
  display: flex;
  flex-direction: column;
  max-width: 100px;
  margin: auto;
}
#member-spot section img {
  height: 320px;
  width: auto;
}
/*.discoverCards{
  display: grid;
  grid-template-columns: 1fr;
}*/
.discoverCards section {
  width: 450px;
  height: 460px;
  padding: .5rem;
}
.discPic {
  /*height: 460px;*/
  width: auto;
  padding-top: 1rem;
}
.discLabel {
  position: absolute;
  background: radial-gradient(#fff, #4D5B97);
	border: 1px solid rgba(0,0,0,.75);
	padding: .5rem;
	box-shadow: 0 0 1rem #fff;
	opacity: 0.75;
}

#calender {
  
  width: 450px;
  height: auto;
}
/*input {
  size: auto;
}*/
input[name="email"]:required:valid {
	background-color: #bed;
}

input[name="email"]:invalid {
	background-color: #ffeeee;
}
#joinform {
  display: flex;
  flex-direction: column;
}
#joinform label {
  margin-bottom: 10px;
  width: auto;
}
.directory {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#toggle {
  background-color: #07BEB8;
  height: 100px;
  align-items: center;
  
}
#toggle button {
  height: 60px;
  width: 60px;
  margin-top: 1rem;
  border-radius: 5px;
}
.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 5px;
  align-items: center;
  text-align: left;
}
.grid section {
  width: auto;
  min-width: 300px;
  height: 300px;
  border: 2px solid #121212;
  border-radius: 10px;
  margin: auto;
  padding: 1rem;
}
.grid img {
  height: 80px;
  width: auto;
}
.dark .grid a {
  color: white;
}
.grid a{
  text-decoration: none;
}
.grid section a:hover {
	background-color: #1B264F;
	color: #FB3640;
	font-weight: 700;
}
.list {
  display: flex;
  flex-direction: column;
}
.list section{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
}
.list img{
  display: none;
}
.list section:nth-child(even) {
	background-color: #07BEB8;
}
footer {
  background: #1B264F;
  color: white;
  font-family: 'Mulish', sans-serif;
  padding: 1rem;
  text-align: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
@keyframes fade {
  0%{
      opacity: 0;
  }
  100%{
      opacity: 50;
  }
}