@media (min-width: 1081px) {
    #title{
        left: -11rem;
        font-size: larger;
    }
    #mode {
        top: 16rem;
        right: 4rem;
    }
    .navigation{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: larger;
    }
    .navigation a {
		display: block;
		flex: 1 1 100%;
	}
    #menu{
        display: none;
    }
    main{
        grid-template-columns: 1fr 1fr 1fr;
        box-sizing: border-box;
        row-gap: 1px;
    }
    .hero {
        grid-column: 1/ span 3;
        height: auto;
    }
    .hero img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    
    footer{
        
    }
}