@media (min-width: 1081px) {
    header {
        flex-direction: row;
    }
    #title{
        left: -11rem;
        font-size: larger;
    }
    #mode {
        left: 600px;
    }
    .navigation{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: larger;
    }
    .navigation a {
		display: block;
		flex: 1 1 100%;
	}
    #menu{
        display: none;
    }
    main{
        grid-template-columns: 1fr 1fr 1fr;
        box-sizing: border-box;
        row-gap: 1px;
    }
    .hero {
        grid-column: 1/ span 3;
        height: auto;
    }
    .hero img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    #about {
        grid-column: 1;
    }
    #member {
        grid-column: 1;
    }
    .discPic {
        padding: .5rem;
        margin: auto;
    }
    .discPic img {
        
        max-width: 100%;
    }
    .discPic img:hover{
        box-shadow: 0 0 50px #333;
        transform: scale(1.1);
    }
    #calenderSection {
        grid-column: 1;
    }
    #visitor {
        grid-column: 1;
    }
    #partner {
        grid-column: 1;
    }
    #community {
        grid-column: 1;
    }
    #dateSection {
        grid-column: 1;
    }
    .discoverPic {
        grid-column: 2/4;
        width: 100%;
        height: auto;
    }
    #memberCards {
        grid-column: 2/4;
        width: auto;
    }
    /*#spotlight{
    
    }*/
    /*.discoverCards {
        
    }
    .discoverCards picture {
        width: 100%;
        height: auto;
        grid-column: 2/3;
        
    }*/
    footer{
        grid-template-columns: 1fr 1fr 2fr;
        grid-template-rows: auto;
    }
    #copy{
        grid-row: 2;
        grid-column: 1/4;
    }
    #disclaimer{
        grid-row: 3;
        grid-column: 1/4;
    }
    #lastModified {
        grid-row: 4;
        grid-column: 1/4;
    }
    .grid section {
        min-width: 250px;
    }
}