@media (min-width: 1079px) {
    header {
        flex-direction: row;
    }
    #title{
        position: relative;
        bottom: -2rem;
    }
    header button{
        align-self: flex-end;
        position: relative;
        bottom: -8rem;
    }
    .navigation{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .navigation a {
		display: block;
		flex: 1 1 100%;
	}
    #menu{
        display: none;
    }
    main{
        grid-template-columns: 1fr 1fr;
        column-gap: 3px;
        box-sizing: border-box;
    }
    #hero {
        grid-column: 1/3;
    }
    #spotlight{
        grid-column: 1/3;
    }
    footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #contact {
        justify-self: start;
        
    }
    #disclaimer {
        grid-column: 1/4;
    }
    #lastModified {
        grid-column: 1/4;
    }
}