/* colors: https://coolors.co/palette/f72585-7209b7-3a0ca3-4361ee-4cc9f0 */

/*body {

}*/
header {
    background-color: #4CC9F0;
    background-image: url("/final/images/hero-mobile.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    height: 400px;
}
.logo img {
    max-width: 150px;
    height: auto;
}
.navigation {
    display: none;
}
nav{
    background-color: #7209B7;
    color: white;
}
a{
	padding: 1rem;
	text-align: center;
	text-decoration: none;
    color: white;
}
a:hover {
    background-color: #1B264F;
	color: #FB3640;
	font-weight: 700;
}
.hero picture img {
    display: none;
}
footer{
    background-color: #3A0CA3;
    color: white;
}