@media (min-width: 1081px) {
    header {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        grid-template-rows: auto;
    }
    .mobile-navigation {
        display: none;
    }
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .legal {
        grid-column: 1/4;
        text-align: center;
    }
    /* Index */
    .m-hero {
        position: static;
    }
    .m-hero img {
        display: none;
    }
    .overlay {
        position: static;
        display: flex;
        flex-direction: row;
    }
    .logo {
        display: flex;
        flex-direction: row;
    }
    .navigation {
        display: inline;
        grid-row: 1;
        grid-column: 2/4;
        margin-top: .5rem;
    }
    .navigation img {
        width: 48px;
        height: auto;
    }
    .hero {
        grid-column: 1/4;
    }
    .hero picture img {
        display: inline;
        width: 100%;
        height: auto;
    }
    #header-call {
        display: none;
    }
    .index {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .reserve {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .main-contact {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}