body {
    display: grid;
    width: 80%;
    margin: auto;
}

header {
    background: #13505B;
    color: white;
    font-family: 'Merriweather', serif;
    padding: 2rem;
    text-align: center;
    font-size: larger;
}
nav {
    background: #3A0842;
    
       
}
nav a{
    display: block;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 1rem;
    text-align: center; 
}
nav ul a {
    margin-top: 3px;
    margin-bottom: 3px;
    display: block;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    padding: 1rem;
    text-align: center;
}
nav ul a:link {
    color: white;
    text-decoration: none;
}
nav ul a:visited {
    color: white;
    text-decoration: none;
}
nav ul a:hover{
    color: #119DA4;
    text-decoration: none;
    background-color: #D7D9CE;
}
nav a:active{
    color: #000;
    text-decoration: none;
}
main {
    background: #D7D9CE;
    color: black;
    font-family: 'Roboto', sans-serif;
    padding: 1rem;
    text-align: center;
    
     
}
h2 {
    border-bottom-style: solid;
    border-color: gray;
}
h3 {
    background: #119DA4;
    padding: 1rem; 
}
ul {
    list-style-type: none;
    text-align: left;
}
ul a {
    color: #000;
    text-decoration: none;
}
ul a:hover {
    color: white;
    text-decoration: none;
    background-color: #119DA4;
}
ul a:active {
    color: white;
    text-decoration: none;
    background-color: #119DA4;
}
ul a:visited {
    color: #000;
    text-decoration: none;
}
.lessoncard {
    border-style: solid;
    border-radius: 5px;
    padding: 1rem;
    
    
}
.infocard{
    border-style: solid;
    border-radius: 5px;
    padding: 1rem;
    
    
}
footer {
    background: #13505B;
    color: white;
    font-family: 'Merriweather', serif;
    padding: 1rem;
    text-align: center; 
}